:root {
  --darkest:#2B1100;
  --dark: #803300;
  --darker-shade: #AA4400;
  --shader: #D45500;
  --darker-color:#FF6600;
  --color: #FF7f2A;
  --midlight: #FF9955;
  --lightcolor: #FFB380;
  --verylight: #FFCCAA;
  --lightest: #FFE6D5;
}
