:root {
  --darkest: rgba(0,0,0,1)
  --dark: #803300;
  --darker-shade: #AA4400;
  --shader: #D45500;
  --darker-color:#FF6600;
  --color: #ffffff;
  --midlight: #FF9955;
  --lightcolor:#ffffff;
  --verylight: #FFCCAA;
  --lightest: #FFE6D5;
}
