@media all and (min-width: 620px) {

  .sub-mobile {
      height: 126%;
   }

   #hero img {
     width: 80%;
   }
   .up {
     right: 5%;
     bottom: 3%;
     width: 20px;
   }

   .upper {
     text-align: center;
     right: 5%;
     bottom: 5%;
   }




/* Bio Area*/

  .hero {
    font-size: 3rem;
  }

  #bio h2 {
      font-size: 3rem;
      line-height: 3rem;
      padding-top: 4rem;
  }

  #bio p {
      display: block;
      width: 75%;
      font-size: 1rem;
      line-height: 3rem;
      padding: 2rem 4rem;
  }

  #bio img {
    width: 600px;
    padding: 1rem;
  }
}
