*, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(#ffffff);
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 89%, rgba(54,54,54,1) 100%);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 0.1rem solid var(--lightest);;
}

h1,h2,h3,h4,h5 {
  color: var(--color);
  margin-bottom: 1.2rem;
  font-family: var(--headings);
  text-align: center;
}

h1 {
  font-weight: 400;
  letter-spacing: 0.2rem;
  position: relative;
  top: -5.2rem;

}

p {
  margin: 2em 0em;
  color: var(--color);
  font-family: var(--main-text);
}

.mobileNav {
 margin: 1.2rem 1.2rem;
 z-index: 2;
}

#logo {
  width: 100px;
  height: 50px;
}

nav ul {
  display:  flex;
  position:fixed;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgba(26, 25, 25, 0.85);
  padding: 0px 0px;
  height: 80vh;
  width: 0%;
  left: 100%;
  margin-top:0;
  font-weight: 400;
  font-size: 1.6em;
  transition: all 0.5s ease-in;
 }

nav li {
    margin: 1rem 0;
    width: 100%;
    position: relative;
    top: 1.8rem;
    text-align: center;
    list-style: none;
    color: white;
    opacity:0.0;
    transition: all 0.6s ease-in 0.1s;
  }

.animated-li {
    top: 0rem;
    opacity: 1;
}

.mobileNav {
   display:flex;
   justify-content: center;
}

/* Mobile nav functionality */

#ham_menu {
  display: block;
  cursor: pointer;
  margin-top: 1.5rem;
 }

.visibleMenu {
  left: 0%;
  width: 100%;
  color: white;
  box-shadow: 3px 3px 20px 1px rgba(12, 12, 12, 0.5);
  z-index: 300;
  background: rgba(5,5,5, 0.9);

}

#sub-mobile {
   position: absolute;
   z-index: -10;
   width: 100%;
   height: 80%;
   margin: 0 0;
   overflow: hidden;
}

.hamburger {
   transition: transform 0.1s ease-in-out, transform-origin 0.1s ease-in-out, opacity 0.3s ease-out;
   cursor: pointer;
   background-color: var(--lightcolor);
   width: 25px;
   height: 2px;
   display: block;
   margin: 6px 6px;
 }

.rotate {
   transform-origin: top left;
   transform: rotate(45deg) translate(0px, -1px);
 }

.derotate {
   transform-origin: bottom left;
   transform: rotate(-45deg) translate( 0px, 0px);
 }

.disapear {
   opacity:0;
 }

/* Hero Area */

#hero {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

#hero-title {
  order: 0;
}

#hero-image {
  width: 90%;
  margin: 0 auto;
}

#hero-title h1 {
    margin-top: 1rem;;
    font-size: 1.7rem;
}

#hero-title p {
    font-size: 1rem;
    text-align: center;
}

#hero-title span {
  font-size: 1rem;
  font-family: var(--main-text);
  font-weight: 400;
}

#down-arrow {

}


#hero-image {
  order: -1;
}

/* Bio area */
#bio section {
  z-index: -1;
}
#bio {
  background-color: var(--lightest);
  padding: 1.2rem;
  z-index: -1;
}

#bio p, #bio h2 {
  color:var(--darkest);
  z-index: -1;
}



/* Disocgraphy area*/

#discograpy {
  background-color: var(--darkest);
  padding: 1.2rem;
}

#discograpy p, #discograpy h2 {
  color:#d2d2d2;
}

#discograpy h3 {
  font-family: var(--main-text);
  font-size: 1.4rem;
}

#discograpy img {
  filter: sepia(1);
  transition: all 0.04s ease-in;
}

#discograpy img:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 3px #121212;
  filter: sepia(0);
  cursor: pointer;
}

/* Tour Area */
#tour {
  padding: 1.2rem;
  background-color: var(--lightest);
}

table {
  width: 96%;
  margin-left: 1rem;
}

tr {
  background-color: var(--light);
  display:flex;
  margin-bottom: 1em;
  flex-direction: column;
  font-size: 1.1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

tr:first-of-type {
  display:none;
}



td:first-of-type::before {
  content: "Date: "
}

td:nth-of-type(2n)::before {
  content: "City: "
}
td:nth-of-type(3n)::before {
  content: "Venue: ";
}

/* Footer Area */

footer {
  background-color: var(--dark);
  margin: 0 0;
  padding: 1.2rem;
}

#footer {
  margin-bottom: 1.2rem;
}
