*, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(#ffffff);
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 89%, rgba(54,54,54,1) 100%);
  font-family: var(--headings);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1, h2, h3, h4,h5 {
  color: var(--color);
  font-family: var(--headings);
  text-align: center;
  letter-spacing: 0.07rem;
}

h1 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  position: relative;
  top: -5.2rem;
}

h2 {
  font-size: 2rem;
  font-style: var(--headings);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 2rem 2rem;
}

p {
  color: #000000;
  font-family: var(--main-text);
  font-size: 0.9rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.mobileNav {
   margin: 1.2rem 1.2rem;
   z-index: 2;
}

#logo {
  width: 100px;
  height: 50px;
}

nav ul {
  display: flex;
  position: fixed;
  z-index: 300;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgba(26, 25, 25, 0.85);
  padding: 0px 0px;
  height: 82vh;
  transform: translateY(-10%);
  width: 100%;
  margin-top:0;
  font-weight: bold;
  letter-spacing: 0.3rem;
  opacity: 0;
  font-size: 1.6rem;
  background: rgba(5,5,5, 0.9);
  box-shadow: 3px 3px 20px 1px rgba(12, 12, 12, 0.5);
  pointer-events: none;
 }

nav li {
    margin: 1rem 0;
    position: relative;
    transform: translateY(10px);
    text-align: center;
    list-style: none;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-in;
  }

  .visibleMenu {;
    pointer-events: fill;
    opacity: 1;
  }

.animated-li {
    transform: translateY(0px);
    opacity: 10;
}

.mobileNav {
  display: flex;
  justify-content: flex-end;
}

/* Mobile nav functionality */

#ham_menu {
  display: block;
  cursor: pointer;
 }

.hamburger {
   cursor: pointer;
   background-color: var(--lightcolor);
   width: 25px;
   height: 2px;
   display: block;
   margin: 6px 6px;
 }

/* Hero Area */

#hero {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  height: 70vh;
  justify-content: center;
  align-items: center;

}

#sub-mobile {
   position: absolute;
   transform: translateY(-5%);;
   width: 100%;
   margin: 0 0;
   z-index: -100;
}

#hero-image {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#hero-title  {
  transform: translateY(19%);
  height: 100%;
  font-size: 0.6rem;
}

#hero-title p {
    font-size: 1rem;
    text-align: center;
}

#hero-title span {
  font-size: 1rem;
  font-family: var(--main-text);
  font-weight: 400;
}

#hero-image {
  order: -1;
}

/* Bio area */
#bio section {
  z-index: -1;

}

#bio {
  z-index: -1;

}
#bio > div {
  padding: 1.5rem 3rem;
  background-color:#FFCC00;
  font-family: var(--main-text);
}

#bio p, #bio h2 {
  z-index: -1;
}

#bio > #hidden  {
  display:none;
  background-color:#000000;
}


#hidden p, #hidden h1 {
    color: white;
}

#hidden button {
  background-color:#000000;
  padding: 0.5rem 1.5rem;
  color: #FFCC00;
  border: 1px solid  #FFCC00;
  width: 100%;
  margin: 0 auto;
}

/* Disocgraphy area*/

#discography {
  color: var(--darkest);
  background-color:#EEEEEE;
  padding-bottom: 3rem;
}

#discography h2  {
  color: #FFCC00;
}

#discography h3 {
  text-transform: uppercase;
  color: black;
  font-style: var(--headings);
  font-size: 1.4rem;
  margin: 0em 2rem;
  margin-bottom: 1.5rem;
}


#discography p  {
  color: black;
  padding: 0 2rem;
  font-family: var(--main-text);

}

hr {
  border-top: 3px solid #FFCC00;
  width: 50%;
  margin: 1.5rem auto;

}

#discography img {
  /* filter: sepia(1);
  transition: all 0.04s ease-in; */
  margin-bottom: 1rem;
}

#discography img:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 3px #121212;
  filter: sepia(0);
  cursor: pointer;
}

/* Tour Area */
#tour,#tour > h2 {
  margin: 0 0;
  background-color: black;
  color: #FFCC00;
}

#triangle {
  display: block;
  width:30%;
  margin: 1.5rem auto;
  margin-bottom: 0;
}

table {
  width: 100%;
}

tr {
  background-color: var(--light);
  display:flex;
  margin-bottom: 1em;
  flex-direction: column;
  font-size: 1.1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

tr:first-of-type {
  display:none;
}

td:first-of-type::before {
  content: "Date: "
}

td:nth-of-type(2n)::before {
  content: "City: "
}
td:nth-of-type(3n)::before {
  content: "Venue: ";
}

/* Footer Area */

footer {
  background-color: var(--dark);
  margin: 0 0;
  padding: 1.2rem;
}

#footer {
  margin-bottom: 1.2rem;
}
